@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

body {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #3498db !important;
  font-family: 'Lato'
}

#root {
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.container {
  display: flex !important;
  align-self: center !important;
  justify-content: center !important;
}

.row {
  justify-content: center !important;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

h4 {
  margin-top: 10px;
  font-size: 28px;
  text-align: center;
}

label,
input {
  font-size: 20px !important;
  padding: 5px 0px 5px 5px;
}

label {
  font-weight: bolder !important;
}

.bg-white {
  background: beige !important;
}

.bg-gradient {
  background: linear-gradient(to bottom, #a9dfbf, #1e8449);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px !important;
  height: 35px;
  justify-content:space-evenly;
}

.spinner{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:6px solid lightgrey !important;
  border-left:6px solid blue !important;
  border-right:6px solid blue !important;
  -webkit-animation: spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@keyframes spin{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#spin {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  width: 100px;
}

.form {
position: fixed !important;
 width: 100vw;
 height: 100vh;
 -webkit-user-select: none !important;
 user-select: none !important;
}

.reset-form {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.centered-form {
  position: fixed; /* or position: absolute; */
  top: 25%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 400px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.view{
  font-size: 16px;
  text-decoration: underline !important;
  font-weight: bolder;
  color:blue;
  cursor: pointer;
}

.rules:not(:first-child) {
  font-size: 16px;
  font-weight: 700 !important;
  
}

.rules:first-child{
  text-decoration: underline;
  font-size: 18px !important;
  
}

.text-red{
  color: red;
}

.text-blue{
  color: blue;
}
.text-pink{
  background: linear-gradient(to right, red , blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background: -moz-linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 150, 136, 1) 20%, rgba(183, 103, 58, 1) 40%, rgba(63, 140, 181, 1) 60%, rgba(244, 3, 151, 1) 80%, rgba(0, 128, 0, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 150, 136, 1) 20%, rgba(183, 103, 58, 1) 40%, rgba(63, 140, 181, 1) 60%, rgba(244, 3, 151, 1) 80%, rgba(0, 128, 0, 1) 100%);
  background: -o-linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 150, 136, 1) 20%, rgba(183, 103, 58, 1) 40%, rgba(63, 140, 181, 1) 60%, rgba(244, 3, 151, 1) 80%, rgba(0, 128, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#0000FF', GradientType=0 );
  background: -ms-linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 150, 136, 1) 20%, rgba(183, 103, 58, 1) 40%, rgba(63, 140, 181, 1) 60%, rgba(244, 3, 151, 1) 80%, rgba(0, 128, 0, 1) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 150, 136, 1) 20%, rgba(183, 103, 58, 1) 40%, rgba(63, 140, 181, 1) 60%, rgba(244, 3, 151, 1) 80%, rgba(0, 128, 0, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}